<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>728646273657-g26tag9152qbp2e50aussp72dmeoce3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728646273657-g26tag9152qbp2e50aussp72dmeoce3d</string>
	<key>API_KEY</key>
	<string>AIzaSyA7BDboQqWqCC8cFFAs0mQB6ww8BTVq9-M</string>
	<key>GCM_SENDER_ID</key>
	<string>728646273657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weheartswift.taskburner</string>
	<key>PROJECT_ID</key>
	<string>task-burner-b9eed</string>
	<key>STORAGE_BUCKET</key>
	<string>task-burner-b9eed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:728646273657:ios:4aa1cabbaec64d03</string>
	<key>DATABASE_URL</key>
	<string>https://task-burner-b9eed.firebaseio.com</string>
</dict>
</plist>